html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(41, 45, 50);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21/14 */
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 71px;
}
@media (max-width: 1470px) {
  .wrapper__container {
    gap: calc(10px + 61 * (100vw - 320px) / 1150);
  }
}
@media (max-width: 1400px) {
  .wrapper__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.aside {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background: rgb(255, 255, 255);
  padding: 36px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 1400px) {
  .aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 306px;
            flex: 0 0 306px;
    max-width: 306px;
  }
}
@media (max-width: 767.98px) {
  .aside {
    padding: 20px 10px;
  }
}
.aside_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0px 0px 64px 0px;
}
@media (max-width: 1400px) {
  .aside_logo {
    margin: 0px 0px 30px 0px;
  }
}
.aside_logo__vector {
  width: 37px;
  height: 37px;
}
.aside_logo__text {
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-weight: 600;
  line-height: 150%; /* 39/26 */
}
.aside_logo__text span {
  color: rgb(131, 131, 131);
  font-size: 10px;
  font-weight: 500;
  line-height: 150%; /* 15/10 */
}

.aside_nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.aside_nav__item:not(:last-child) {
  margin: 0 0 17px;
}
.aside_nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  color: rgb(145, 151, 179);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 30px 13px 13px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  text-decoration: none;
}
.aside_nav__link._active {
  background: rgb(89, 50, 234);
  color: rgb(255, 255, 255);
}
.aside_nav__link._active .aside_nav__icon_stroke .aside_nav__vector {
  stroke: #fff;
}
.aside_nav__link._active .aside_nav__icon_fill .aside_nav__vector {
  fill: #fff;
}
.aside_nav__link._active .aside_nav__arrow .aside_nav__decor {
  stroke: #fff;
}
@media (any-hover: hover) {
  .aside_nav__link:hover {
    background: rgb(89, 50, 234);
    color: rgb(255, 255, 255);
  }
  .aside_nav__link:hover .aside_nav__icon_stroke .aside_nav__vector {
    stroke: #fff;
  }
  .aside_nav__link:hover .aside_nav__icon_fill .aside_nav__vector {
    fill: #fff;
  }
  .aside_nav__link:hover .aside_nav__arrow .aside_nav__decor {
    stroke: #fff;
  }
  .aside_nav__link:hover .aside_nav__arrow {
    -webkit-transform: translate(0, -50%) rotate(-180deg);
        -ms-transform: translate(0, -50%) rotate(-180deg);
            transform: translate(0, -50%) rotate(-180deg);
  }
}
.aside_nav__icon_stroke .aside_nav__vector {
  stroke: #9197b3;
  fill: transparent;
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
.aside_nav__icon_fill .aside_nav__vector {
  fill: #9197b3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.aside_nav__arrow .aside_nav__decor {
  stroke: #9197b3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: none;
}
.aside_nav__vector {
  width: 24px;
  height: 24px;
}
.aside_nav__decor {
  width: 6px;
  height: 10px;
}
.aside_nav__text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.aside_nav__arrow {
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 30px 0 0 0;
}
.aside-bottom__avatar img {
  border-radius: 50%;
}
.aside-bottom__position {
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%; /* 18/12 */
}

.page {
  padding: 36px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 0 0 51px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}
@media (max-width: 1400px) {
  .page__title {
    margin: 0 0 30px 0;
  }
}
.page__title._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.page__emoji {
  max-width: 25px;
  max-height: 25px;
  display: inline-block;
}
.page_body {
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background: rgb(255, 255, 255);
  padding: 30px 28px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .page_body {
    padding: 20px 10px;
  }
}
@media (min-width: 1400px) {
  .page_body {
    padding: 30px 38px;
  }
}
.page_body._show {
  opacity: 1;
}
.page_body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1400px) {
  .page_body__header {
    margin: 0 0 30px;
  }
}
.page_body__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 150%; /* 33/22 */
  margin: 0 0 7px 0;
}
.page_body__label {
  color: rgb(22, 192, 152);
  font-weight: 400;
  line-height: 150%; /* 21/14 */
}
.page_body__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: rgb(249, 251, 255);
  padding: 7px 8px;
  align-items: center;
}
.page_body__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_body__vector {
  height: 24px;
  width: 24px;
  fill: transparent;
  cursor: pointer;
}
.page_body__input {
  border: none;
  background: transparent;
  font-family: Poppins;
}
.page_body__input:focus-visible {
  outline: none;
}

@media (max-width: 991.98px) {
  .page_table {
    display: none;
  }
}
.page_table__table {
  table-layout: fixed;
  width: 100%;
}
@media (max-width: 1400px) {
  .page_table__table {
    overflow: scroll;
  }
}
.page_table__thead {
  width: 100%;
}
.page_table__th {
  text-align: left;
  padding: 13px;
  text-wrap: nowrap;
  color: rgb(181, 183, 192);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_table__th_name {
  width: 16.666%;
}
.page_table__th_company {
  width: 10%;
}
.page_table__th_number {
  width: 16.666%;
}
.page_table__th_email {
  width: 25%;
}
.page_table__th_country {
  width: 16.666%;
}
.page_table__th_status {
  width: 16.666%;
}
.page_table__tr {
  opacity: 0;
  -webkit-transition: opacity, -webkit-transform 0.3s ease 0s;
  transition: opacity, -webkit-transform 0.3s ease 0s;
  transition: opacity, transform 0.3s ease 0s;
  transition: opacity, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.page_table__tr._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.page_table__td {
  text-align: left;
  padding: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_table__active {
  display: inline-block;
  padding: 4px 18px;
  color: rgb(0, 135, 103);
  border: 1px solid rgb(0, 176, 135);
  border-radius: 4px;
  background: rgba(22, 192, 152, 0.38);
}
.page_table__inactive {
  display: inline-block;
  padding: 4px 13px;
  color: rgb(223, 4, 4);
  border: 1px solid rgb(223, 4, 4);
  border-radius: 4px;
  background: rgb(255, 197, 197);
}

@media (min-width: 991.98px) {
  .page_table_mobile {
    display: none;
  }
}
.page_table_mobile__table {
  table-layout: fixed;
  width: 100%;
}
.page_table_mobile__tr {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.page_table_mobile__tr._show {
  opacity: 1;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
}
.page_table_mobile__th {
  padding: 15px;
  background: rgb(249, 251, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_table_mobile__td {
  padding: 15px 10px;
  border-bottom: 2px solid rgb(249, 251, 255);
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_table_mobile__active {
  display: inline-block;
  padding: 4px 18px;
  color: rgb(0, 135, 103);
  border: 1px solid rgb(0, 176, 135);
  border-radius: 4px;
  background: rgba(22, 192, 152, 0.38);
}
.page_table_mobile__inactive {
  display: inline-block;
  padding: 4px 13px;
  color: rgb(223, 4, 4);
  border: 1px solid rgb(223, 4, 4);
  border-radius: 4px;
  background: rgb(255, 197, 197);
}

.page_footer {
  padding: 32px 0 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.page_footer._show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.page_footer__label {
  color: rgb(181, 183, 192);
}
.page_footer__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page_footer__page {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  background: rgb(245, 245, 245);
  padding: 6px 10px;
  color: rgb(64, 75, 82);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.page_footer__page._active {
  border: 1px solid rgb(89, 50, 234);
  border-radius: 4px;
  background: rgb(89, 50, 234);
  color: rgb(255, 255, 255);
}
@media (any-hover: hover) {
  .page_footer__page:hover {
    border: 1px solid rgb(89, 50, 234);
    border-radius: 4px;
    background: rgb(89, 50, 234);
    color: rgb(255, 255, 255);
  }
}